.condition-confirm-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 360px;
}
.range-wrapper {
  width: 100%;
  max-width: 400px;
}

.range-track {
  position: relative;
  width: 100%;
  margin-bottom: 6px;
}

.range-slider {
  width: 100%;
  appearance: none;
  height: 4px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.range-value {
  position: relative;
  font-size: 14px;
  margin-top: 4px;
  background-color: #ddd;
  max-width: 50px;
  text-align: center;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
