* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

/* body{
  background-color: #000;
  color: #fff;
} */

.page-container {
  max-width: 598px;
  margin: 0 auto;
  border-left: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  padding: 5px 25px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.header i {
  cursor: pointer;
  font-size: 20px;
}

.search {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-inputs {
  background-color: rgb(233, 233, 233);
  height: 38px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.search-input {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  width: 100%;
}

.task {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(200, 200, 200);
  border-top: 1px solid rgb(200, 200, 200);
  transition: background-color ease-out 0.15s;
  height: 8rem;
}

.task-p {
  margin-left: 15px;
  width: 100%;
}

.task-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}

.task-header-user-info {
  display: flex;
  align-items: flex-end;
}

.big-text {
  font-size: 18px;
  font-weight: bold;
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-center-column i {
  margin: 5px 0;
}

/* Register form */

.auth-form {
  max-width: 350px;
  background-color: aquamarine;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.auth-form h2 {
  margin-bottom: 40px;
}

.auth-form input,
.auth-form button {
  outline: none;
  border: 0;
  width: 250px;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth-form button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.auth-form button:hover {
  background-color: rgb(194, 194, 194);
}

.alert {
  color: red;
  position: absolute;
  bottom: 20px;
}

/* Register form */

/* Menu start*/
.menu {
  position: fixed;
  z-index: 1000000;
  background-color: #fff;
  width: 300px;
  max-width: 50vw;
  height: 100vh;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: -100vw;
  transition: transform 0.3s ease-in-out;
}
.menu-active {
  transform: translateX(100vw);
}

.menu-button {
  margin-left: 50px;
  margin-bottom: 10px;
}
.menu-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  .menu {
    max-width: 75vw;
  }
}
/* Menu end*/

/*new form start*/

.new-form {
  padding: 0 5%;
}

.form-input {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-weight: bold;
}
.form-input input {
  outline: none;
  height: 2rem;
  font-size: 1rem;
  padding: 0 5px;
}

.form-submit {
  width: 100px;
  height: 2rem;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
}

.time-input-container {
  display: flex;
  align-items: center;
}

.time-input {
  border: none;
  width: 3rem;
  margin-left: 1rem;
}

.validation-message {
  font-size: 0.9rem;
  color: rgb(255, 0, 0);
}

.task-preview {
  position: relative;
}

.task-preview-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
}
/*new form end*/

/******** note start */

.note-contaner {
  width: 50px;
  height: 50px;
  background-color: red;
}
.note-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.note {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  overflow: auto;
  transform: translate(10vw, 10vh) scale(100%);
  transition: transform 1s ease-in-out;
}

.note-close {
  position: fixed;
  width: 80vw;
  height: 80vh;
  border: 1px solid black;
  overflow: auto;
  transform: translate(-36vw, -36vh) scale(10%);
  transition: transform 1s ease-in-out;
}

/* note end */
